* {
    font-family: 'Roboto Mono', monospace;
}

nav.cabecalho {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    transition: 2s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-link {
    color: #fb0b4e;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #fb0b4e;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fae8f0 !important;
}

.am:hover {
    color: #fb0b4e !important;
}

a:hover {
    color: white !important;
    text-decoration: underline;
}

ul.menu {
    margin: 3% 0% 0% -5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 3% 0% 0% -5%;
}
  

div.principal {
    width: 100%;
    height: 100%;
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    padding: 4rem 2rem;
}

.inicio {
    background-color: #d4c1d9;
    height: 100vh;
    color: white;
}

.titulo-principal {
    font-weight: 300;
    font-size: 9rem;
    margin-top: 215px;
    text-shadow: 2px 2px 4px #d4c1d9;
}

.subtitulo {
    margin-top: -2.5%;
    margin-left: 26.5%;
    display: flex;
    font-weight: 200;
    letter-spacing: 0.74rem;
    justify-content: flex-end;
    text-shadow: 2px 2px 4px #d4c1d9;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sub-title {
    color: #fff;
    letter-spacing: 8px;
    text-shadow: 2px 2px 4px #d4c1d9;
}

.sobre {
    margin-top: 10px;
}

#sobreMim {
    background-color: #d4c1d9;
    color: #363636;
}

#academica {
    background-color: #d4c1d9;
    color: #363636;
}

.position {
    margin-left: -13%;
    margin-top: -16px;
}

.pr-1, .px-1 {
    padding-right: .25rem!important;
}

.alturaSkill{
    margin-top: -16px;
    margin-left: 3%;
}
.shadow-sub {
    text-shadow: 2px 2px 4px #222;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}

.mostrar {
    display: block;
}

.card {
    border: solid;
}   

footer {
    background-color: #222;
    color: #fff;
}

#contato {
    background-color: #222;
    color: #fff;
    border-top: solid 5px;
}

#exp-profissionais {
    background-color: #222;
}

.textEsp { 
    color: #222 !important;
}


.git-link {
    text-decoration: none;
    color: #fff;
}

.git-link:hover {
    text-decoration: none;
    color: #222;
}

.item-rodape {
    color: #fb0b4e;
}

.item-rodape:hover,
.item-menu:hover {
    text-decoration: none;
    color: #d4c1d9;
}

@media (max-width: 1200px) {
    .titulo-principal {
        font-size: 7rem;
    }

    .subtitulo {
        font-size: 1.28rem;
    }
}

@media (max-width: 930px) {
    .menu {
        display: none;
    }

    .titulo-principal {
        font-size: 4rem;
    }

    .subtitulo {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .titulo-principal {
        font-size: 3rem;
    }

    .subtitulo {
        font-size: 0.85rem;
    }


}

@media (max-width: 440px) {
    .titulo-principal {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 0.7rem;
    }
}

@media (max-width: 380px) {
    .sub-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    .sub-title {
        font-size: 1.2rem;
    }
}

.card-data {
    background-color: #d4c1d9;
}

.ocultar {
    display: none;
}
.mostrar {
    display: block;
}


.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.d-flex {
    color: #212529;
    display: flex!important;
}